<ul class="nav navbar-nav">
  <li>
    <%= link_to "Home", root_path, :class => 'brand' %>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <% if current_user.has_role? :admin %>
      <li>
        <%= link_to 'Admin', users_path %>
      </li>
    <% end %>
  <% end %>
  <li class="dropdown">
    <a data-toggle="dropdown" href="#">
      <% if user_signed_in? %>
        <%= current_user.email %>
      <% else %>
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
        </li>
      <% else %>
        <li>
        <%= link_to 'Login', new_user_session_path %>
        </li>
      <% end %>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Edit account', edit_user_registration_path %>
        </li>
      <% else %>
        <li>
        <%= link_to 'Sign up', new_user_registration_path %>
        </li>
      <% end %>
    </ul>
  </li>
</ul>
